<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.olskrain.aggregatornews">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".Common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activity.ChannelDetailActivity"
            android:label="@string/channel_detail_name"
            android:parentActivityName=".presentation.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.olskrain.aggregatornews.presentation.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.activity.NewDetailActivity"
            android:label="@string/new_detail_name"
            android:parentActivityName=".presentation.ui.activity.ChannelDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.olskrain.aggregatornews.presentation.ui.activity.ChannelDetailActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.activity.AddChannelActivity"
            android:label="@string/add_channel_name"
            android:parentActivityName=".presentation.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.olskrain.aggregatornews.presentation.ui.activity.MainActivity" />
        </activity>
    </application>

</manifest>